/*--------@MEDIA Responsive-----------*/

@media screen and (max-width: 992px) {

    #main {
        grid-template-columns: 1fr;
        gap: 30px;
        grid-template-areas: "nav"
        "lineaprincipal"
            "img1"
            "img2"
            "img3"
            "img4"
            "parrafo"
            "footer";
    }

    #parrafo {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    /*componente navegacion a 992px*/
    .linea {
        margin-left: 18vh;
        margin-right: 18vh;
        margin-bottom: 30px;
    }

    .logonav {
        margin-left: 15vh;
    }
   
    nav ul li a {
        font-size: 1.6rem;
        letter-spacing: normal;
    }

     /*----componente pagina----*/

     .imgsection1 {
        width: 90%;
        margin-left: 40px;
    }
    .imgsection2 {
        width: 90%;
        margin-left: 40px;
        
    }
    .imgsection--h2 {
        text-align: center;
        font-size: 3rem;
        margin: 20px;
    }

    .imgsection--h2_text {
        text-align: justify;
        font-size: 1.5rem;
        margin: 20px;
    }

    .sectionp {
        text-align: center;
        padding: 40px;
        font-size: 2rem;
    }
     /*-----historia 992px-------*/

     .historigrid{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .historigrid--p{
        text-align: justify;
        font-size: 1.8rem;
        margin: 30px
    }

    .imghistoria1{
        width: 90%;
    }

    .imghistoria2{
        width: 90%;
    }
    .historiah1{
        text-align: center;
        margin-right: 21vh;
        margin-bottom: 10vh;
    }

    /*-----galeria----*/

    .galeriah1{
        text-align: center;
        margin-right: 20vh;
        margin-bottom: 10vh;
    }

    .vidwidth{
        width: 90%;
    
}
/*-----funktion one 992----*/

.imgfunk {
    width: 98%;
    margin-left: 30px;
}

.artgrid {
    grid-template-columns: 1fr;
    margin-left: 15px;
}

.artgrid_p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.5rem;
    text-align: justify;
}

.section__art--p {
    text-align: justify;
    margin: 30px;
    font-size: 1.5rem;
}

.funktionh1 {
    text-align: center;
    margin-right: 20vh
}

/*componente footer 992*/

    .logo-foot {
    width: 20%;
    margin-right: 10px;
}


    footer{ 
        p{ 
            font-size: 1.5rem;
            margin-left: 70px;
            margin-top: 20px;
        } 
        div a {
            margin-right: 20%
        }
    }

}

@media screen and (max-width: 768px) {

    #main {
        grid-template-columns: 1fr;
        gap: 30px;
        grid-template-areas: "nav"
        "lineaprincipal"
            "img1"
            "img2"
            "img3"
            "img4"
            "parrafo"
            "footer";
    }

    #parrafo {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    /*componente navegacion a 768px*/

    .logonav {
        margin-left: 14rem;
    }
    .linea {
        margin-left: none;
        margin-right: none;
        margin-bottom: none;
    }

    nav {

        ul{ 
            li{
                a{
                text-align: center;
                font-size: 1.3rem;
            }
        }
    }
}
    
    /*----componente pagina----*/

    .imgsection1 {
        width: 90%;
        margin-left: 30px;
    }
    .imgsection2 {
        width: 90%;
        margin-left: 35px;
        
    }
    .imgsection--h2 {
        text-align: center;
        font-size: 3rem;
        margin: 3vh;
    }

    .imgsection--h2_text {
        text-align: justify;
        font-size: 1.5rem;
        margin: 3vh;
    }

    .sectionp {
        text-align: center;
        padding: 40px;
        font-size: 2rem;
    }
     /*-----historia 768px-------*/

    .historigrid{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .historigrid--p{
        text-align: justify;
        font-size: 1.5rem;
        margin: 30px
    }

    .imghistoria1{
        width: 90%;
    }

    .imghistoria2{
        width: 90%;
    }
    .historiah1{
        text-align: center;
        margin-right: 21vh;
        margin-bottom: 10vh;
    }
      /*-----galeria----*/

      .galeriah1{
        text-align: center;
        margin-right: 20vh;
        margin-bottom: 10vh;
    }

      .vidwidth{
        width: 90%;
    
}

/*-----funktion one 768----*/

.imgfunk {
    width: 98%;
    margin-left: 30px;
}

.artgrid {
    grid-template-columns: 1fr;
    margin-left: 15px;
}

.artgrid_p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.5rem;
    text-align: justify;
}

.section__art--p {
    text-align: justify;
    margin: 30px;
    font-size: 1.5rem;
}

.funktionh1 {
    text-align: center;
    margin-right: 20vh
}

/*componente footer 768*/



footer {
    flex-direction: column-reverse;
    p{
        font-size: 1.5rem;
        margin-left: 70px;
        margin-top: 20px;

    }
    div a {
        margin-right: 20%
    }
}


}

@media screen and (max-width: 576px) {

    #main {
        grid-template-columns: 1fr;
        gap: 30px;
        grid-template-areas: "nav"
        "lineaprincipal"
            "img1"
            "img2"
            "img3"
            "img4"
            "parrafo"
            "footer";
    }

    #parrafo {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    /*componente navegacion a 576px*/

    .logonav {
        
        margin-left: 11rem;
    }
    .linea {
        margin-left: none;
        margin-right: none;
        margin-bottom: none;
    }


    nav {
        
        ul{ 
            li{ 
                padding: 1em;
                margin-left: 10vh;
                a{ 
                text-align: center;
                font-size: 1.5rem;
                

        }
    }
}
    
}
    

    /*----componente pagina----*/

    .imgsection1 {
        width: 90%;
        margin-left: 30px;
    }
    .imgsection2 {
        width: 90%;
        margin-left: 30px;
        
    }
    .imgsection--h2 {
        text-align: center;
        font-size: 1.9rem;
        margin: 20px;
    }

    .imgsection--h2_text {
        text-align: justify;
        font-size: 1.3rem;
        margin: 20px;
    }

    .sectionp {
        text-align: center;
        padding: 40px;
        font-size: 1.5rem;
    }

    /*-----historia 576px-------*/

    .historigrid{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .historigrid--p{
        text-align: justify;
        font-size: 1.5rem;
        margin: 30px
    }

    .imghistoria1{
        width: 90%;
    }

    .imghistoria2{
        width: 90%;
    }
    .historiah1{
        text-align: center;
        margin-right: 20vh;
    }

    /*----------- funktion-one ----- 576px*/


    .imgfunk{
        width: 98%;
        margin-left: 30px;
    }

    .artgrid{
        grid-template-columns: 1fr;
        margin-left: 15px;
    }

    .artgrid_p {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1.5rem;
        text-align: justify;
    }

    .section__art--p{
        text-align: justify;
        margin: 30px;
        font-size: 1.5rem;
}

    .funktionh1 {
        text-align: center;
        margin-right: 100px;
        font-size: 3rem;
    }

    /*-----galeria----*/

    .galeriah1{
        text-align: center;
        margin-right: 20vh;
    }

    .vidwidth{
        width: 90%;
}

    /*componente footer 576*/

    .logo-foot {
        width: 20%;
        margin-right: 10px;
    }

    footer {
        flex-direction: column-reverse;
        p{
            font-size: 1.2rem;
            margin-left: 70px;
            margin-top: 20px;

        }
        div a {
            margin-right: 20%
        }
    }


}
